<% var data = {
title: "ГлазоЛик",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
    <section class="main" id="main">
        <div class="container">
            <div class="main__background">
                <img src="img/main-bg.jpg" alt="img" class="background-img">
            </div>
            <div class="main__wrapper">
                <div class="main__text">
                    <h1 class="title">Лазерная коррекция зрения без боли <br> и последствий <br> за 10 минут</h1>
                    <span class="main__subtitle">Занимаемся лазерной хирургией с 2007 года. <br> Каждый третий пациент приезжает к нам <br> из другого города</span>
                    <button class="main__btn main-btn">Получить консультацию</button>
                </div>
                <div class="main__desc">
                    <span class="desc-title">Елена Бахтияровна</span>
                    <span class="desc-subtitle">Кандидат медицинских наук. <br> Офтальмолог с 1995 года. <br> Хирург с опытом более 30 тысяч операций</span>
                </div>
            </div>
        </div>
    </section>
    <section class="advantage" id="advantage">
        <div class="container">
            <div class="advantage__list">
                <div class="list-item">
                    <img src="img/eye.svg" alt="icon" class="item-icon">
                    <span class="item-desc">Сможете смотреть телевизор и работать за компьютером уже через 3 часа после операции</span>
                </div>
                <div class="list-item">
                    <img src="img/heart.svg" alt="icon" class="item-icon">
                    <span class="item-desc">Без вреда и рисков: сделаем коррекцию, только если для вас она будет безопасна на 100% </span>
                </div>
                <div class="list-item">
                    <img src="img/wing.svg" alt="icon" class="item-icon">
                    <span class="item-desc">Мы одни из первых лазерных хирургов в Казахстане. Проводим коррекцию с 2007 года</span>
                </div>
                <div class="list-item">
                    <img src="img/5star.svg" alt="icon" class="item-icon">
                    <span class="item-desc">188 оценок на Яндекс. картах и 279 отзывов на Google картах</span>
                </div>
            </div>
            <div class="advantage__form">
                <div class="img-wrapper">
                    <img src="img/advantage-form.jpg" alt="img" class="form-img">
                </div>
                <h3 class="title">Получите консультацию <br> об операции и работе клиники</h3>
                <span class="subtitle">Если не хотите читать сайт и вам лучше поговорить <br> с живым человеком — оставьте контакты. <br> Мы перезвоним в течение 30 минут и с радостью <br> ответим на все ваши вопросы</span>
                <form action="./php/mail.php"
                      id="advantageForm"
                      method="post"
                      accept-charset="utf-8"
                      enctype="multipart/form-data"
                      class="form-body">
                    <input type="text" class="input" name="phone" required placeholder="Телефон">
                    <input type="text" class="input" name="name" placeholder="Имя">
                    <button class="advantage-btn main-btn" type="submit">Получить консультацию</button>
                </form>
                <div class="contacts-title">Или свяжитесь удобным способом:</div>
                <div class="contacts-list">
                    <a href="tel:+77008367870" class="contacts-link">+7 (700) 836 78 70</a>
                    <a href="https://wa.me/+77008367870" class="contacts-link">WhatsApp</a>
                    <a href="#" class="contacts-link">Telegram</a>
                </div>
            </div>
        </div>
    </section>
    <section class="questions" id="questions">
        <div class="container">
            <span class="section-title">Об операции</span>
            <h2 class="title">Поможем избавиться вам <br> от очков и линз без последствий <br> для здоровья глаз</h2>
            <span class="subtitle">Проводим коррекцию методами Lasik, Femto Lasik и ФРК. Если лазерная коррекция вам не подойдёт по возрасту или показаниям — предложим другие методики улучшения зрения.</span>
            <div class="questions__block-1">
                <div class="questions-item">
                    <span class="item-title">Через сколько я восстановлюсь после лазерной коррекции?</span>
                    <span class="item-desc">Через 3 часа после операции вы сможете смотреть телевизор и сидеть в интернете. А на следующий день полностью вернётесь к работе.</span>
                </div>
                <div class="questions-item">
                    <span class="item-title">Может ли со временем пропасть эффект от лазерной коррекции?</span>
                    <span class="item-desc">Полностью эффект от коррекции никогда не пропадёт. <br><br> При большой близорукости в редких случаях возможен небольшой откат на 1-1.5 диоптрии в течение нескольких лет.</span>
                </div>
            </div>
            <div class="questions__video">
                <div class="video-desc">
                    <span class="desc-title">Это больно?</span>
                    <span class="desc-paragraph">Это совсем не больно. Перед операцией мы капаем обезболивающие капли, под которыми мы проводим даже более сложные хирургические операции. <br><br> Максимум, вам будет просто неприятно, что кто-то касается глаз на протяжении 10 секунд.</span>
                </div>
                <div class="video-slider">
                    <div class="slider-wrapper">
                        <div class="swiper-wrapper">
                            <a href="#" class="swiper-slide">
                                <video width="100%" height="100%" loop muted poster="video/review1/review1.jpg" class="video-slide">
                                    <source src="video/review1/review1.mp4" type="video/mp4">
                                    <source src="video/review1/review1.webm" type="video/webm">
                                    <source src="video/review1/review1.ogv" type="video/ogg">
                                </video>
                            </a>
                            <a href="#" class="swiper-slide">
                                <video width="100%" height="100%" loop muted poster="video/review1/review1.jpg" class="video-slide">
                                    <source src="video/review1/review1.mp4" type="video/mp4">
                                    <source src="video/review1/review1.webm" type="video/webm">
                                    <source src="video/review1/review1.ogv" type="video/ogg">
                                </video>
                            </a>
                            <a href="#" class="swiper-slide">
                                <video width="100%" height="100%" loop muted poster="video/review1/review1.jpg" class="video-slide">
                                    <source src="video/review1/review1.mp4" type="video/mp4">
                                    <source src="video/review1/review1.webm" type="video/webm">
                                    <source src="video/review1/review1.ogv" type="video/ogg">
                                </video>
                            </a>
                            <a href="#" class="swiper-slide">
                                <video width="100%" height="100%" loop muted poster="video/review1/review1.jpg" class="video-slide">
                                    <source src="video/review1/review1.mp4" type="video/mp4">
                                    <source src="video/review1/review1.webm" type="video/webm">
                                    <source src="video/review1/review1.ogv" type="video/ogg">
                                </video>
                            </a>
                        </div>
                    </div>
                    <span class="slider-desc">Пациенты клиники делятся впечатлениями об операции</span>
                </div>
            </div>
            <div class="questions__block-2">
                <div class="questions__wrapper">
                    <span class="item-title">Насколько опасна лазерная коррекция <br> и может ли что-то пойти <br> не так во время операции?</span>
                    <span class="item-desc">Лазерная коррекция — самая надежная и выверенная операция, которую мы делаем в клинике. Она полностью безопасна и проводится в мире с 1985 года. За 38 лет на всей планете не было ни одного случая потери зрения от лазерной коррекции. </span>
                </div>
                <div class="hardware-block">
                    <div class="hardware-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="slider-img" src="img/hardware1.jpg" alt="hardware">
                            </div>
                            <div class="swiper-slide">
                                <img class="slider-img" src="img/hardware2.jpg" alt="hardware">
                            </div>
                            <div class="swiper-slide">
                                <img class="slider-img" src="img/hardware3.jpg" alt="hardware">
                            </div>
                            <div class="swiper-slide">
                                <img class="slider-img" src="img/hardware4.jpg" alt="hardware">
                            </div>
                            <div class="swiper-slide">
                                <img class="slider-img" src="img/hardware5.jpg" alt="hardware">
                            </div>
                            <div class="swiper-slide">
                                <img class="slider-img" src="img/hardware6.jpg" alt="hardware">
                            </div>
                        </div>
                        <div class="hardware-button-prev button-prev"></div>
                        <div class="hardware-button-next button-next"></div>
                    </div>
                    <span class="hardware-desc">Диагностика и операция проводятся на самом современном оборудовании, в котором полностью исключены любые ошибки и человеческий фактор. Все значения вбиваются в компьютер заранее, а каждое движение лазера выверено до тысячной миллиметра. <br> <br> Вы не сможете испортить операцию, даже если очень постараетесь. Глазная щель фиксируется с помощью векорасширителя, а компьютер отслеживает любое движение зрачка. Если вы вдруг испугаетесь, повернёте голову или закатите глаза — операция просто остановится и её можно будет продолжить, когда вы успокоитесь. </span>
                </div>
                <div class="questions__wrapper">
                    <span class="item-title">Какие могут быть последствия после лазерной коррекции?</span>
                    <span class="item-desc">Если у вас нет противопоказаний и скрытых заболеваний — для вас операция абсолютно безопасна. Если у вас тонкая роговица, есть риск отслоения сетчатки, скрытые воспаления или другие противопоказания (выясняется во время обследования) — лазерная коррекция вам не подойдёт и нужно будет подбирать другой метод.</span>
                </div>
            </div>
            <div class="questions__block-3">
                <div class="img-wrapper">
                    <img src="img/docBg.png" alt="img" class="block-img">
                </div>
                <span class="item-title">
                    Все негативные последствия <br>
                    происходят, когда клиники <br>
                    ради прибыли проводят операцию
                    <br> тем, кому она не подходит,
                </span>
                <span class="item-desc">
                    либо когда доктора не имеют достаточно опыта, чтобы диагностировать скрытые заболевания. <br><br>
                    В нашей клинике мы не делаем коррекцию на потоке и индивидуально подходим к каждому случаю. <br><br>
                    Перед вмешательством мы проверим ваше зрение по 30 параметрам и если у нас появится хоть малейшее сомнение в полной безопасности операции —
                    мы не станем её проводить и предложим другую методику.
                </span>
                <div class="doc-name">
                    <span class="name-text"><span class="strong">Елена Бахтияровна</span>Главный врач клиники ГлазоЛик</span>
                </div>
            </div>
        </div>
    </section>
    <section class="diagnostics" id="diagnostics">
        <div class="container">
            <span class="section-title">диагностика</span>
            <h2 class="title">
                Как узнать, подходит ли вам лазерная коррекция и какой результат <br>
                вы получите в итоге?
            </h2>
            <span class="subtitle">
                Пройдите диагностику зрения в нашей клинике. <br>
                На ней мы в течение двух часов проведём полное обследование <br>
                и подготовим подробный отчёт о состоянии ваших глаз.
            </span>
            <div class="diagnostics__list">
                <div class="list-item">
                    <div class="item-desc">
                        <span class="desc-title">Сначала проведём полное обследование зрения по 30 параметрам</span>
                        <ul class="desc-list">
                            <li class="desc-item">Поймём, подходит ли вам лазерная коррекция и какую подготовку нужно провести, чтобы процедура была максимально безопасной.</li>
                            <li class="desc-item">Найдём причины ухудшения зрения и расскажем, как их можно устранить.</li>
                            <li class="desc-item">Если обнаружим скрытые заболевания и противопоказания — подберём другой способ улучшить зрение.</li>
                        </ul>
                        <a href="#" class="item-link">Список проводимых исследований</a>
                    </div>
                    <div class="img-wrapper">
                        <img class="item-img" src="img/diagnostics1.jpg" alt="img">
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-desc">
                        <span class="desc-title">Затем доктор изучит вашу ситуацию и даст подробную консультацию</span>
                        <ul class="desc-list">
                            <li class="desc-item">Узнает об образе жизни и профессии, чтобы подобрать подходящую под вас методику.</li>
                            <li class="desc-item">Даст прогноз, какого результата можно ожидать от коррекции.</li>
                            <li class="desc-item">Снимет страхи перед операцией и расскажет, как всё будет происходить.</li>
                        </ul>
                    </div>
                    <div class="img-wrapper">
                        <img class="item-img" src="img/diagnostics2.jpg" alt="img">
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-desc">
                        <span class="desc-title">Подготовим отчёт о состоянии зрения, показаниях к операции и возможных рисках</span>
                        <ul class="desc-list">
                            <li class="desc-item">С этим отчётом вы сможете пойти в любую другую клинику, если вам не подойдут условия у нас.</li>
                        </ul>
                    </div>
                    <div class="img-wrapper">
                        <img class="item-img" src="img/diagnostics3.jpg" alt="img">
                    </div>
                </div>
            </div>
            <div class="diagnostics__form">
                <div class="form-desc">
                    <span class="form-title">
                        Запишитесь на диагностику <br>
                        и узнайте, насколько <br>
                        безопасно делать коррекцию <br>
                        именно в вашем случае
                    </span>
                    <div class="text-wrapper">
                        <span class="form-text-mobile">Оставьте контакты, перезвоним в течение 30 минут <span class="accent"> в рабочее время</span></span>
                        <span class="desc-sum">15 000 ₸</span>
                        <span class="desc-subtitle">Стоимость диагностики </span>
                    </div>
                </div>
                <div class="form-wrapper">
                    <span class="form-text">Оставьте контакты, перезвоним в течение 30 минут <span class="accent"> в рабочее время</span></span>
                    <form action="./php/mail.php"
                          id="diagnosticsForm"
                          method="post"
                          accept-charset="utf-8"
                          enctype="multipart/form-data"
                          class="form-body">
                        <input type="text" class="input" name="phone" required placeholder="Телефон">
                        <input type="text" class="input" name="name" placeholder="Имя">
                        <button class="diagnostics-btn main-btn" type="submit">Записаться</button>
                    </form>
                </div>
            </div>
            <div class="diagnostics__contact">
                <span class="contact-desc">Если у вас есть вопросы — <a href="https://wa.me/+77008367870" target="_blank" class="contact-whats">напишите нам в WhatsApp</a>  или позвоните по номеру <a href="tel:+77008367870" target="_blank" class="contact-phone">+7 (700) 836 78 70</a></span>
                <div class="wrapper">
                    <img src="img/advantage-form.jpg" alt="img" class="contact-img">
                </div>
            </div>
        </div>
    </section>
</main>

<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>

