<% var data = {
title: "ГлазоЛик",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
    <section class="main" id="main">
        <div class="main__background">
            <img src="img/main-bg.jpg" alt="img" class="background-img">
        </div>
        <div class="container">
            <div class="main__wrapper">
                <div class="main__text">
                    <h1 class="title">Лазерная коррекция зрения без боли <br> и последствий <br> за 10 минут</h1>
                    <span class="main__subtitle">Занимаемся лазерной хирургией с 2007 года. <br> Каждый третий пациент приезжает к нам <br> из другого города</span>
                    <button class="main__btn main-btn">Получить консультацию</button>
                </div>
                <div class="main__desc">
                    <span class="desc-title">Елена Бахтияровна</span>
                    <span class="desc-subtitle">Кандидат медицинских наук. <br> Офтальмолог с 1995 года. <br> Хирург с опытом более 30 тысяч операций</span>
                </div>
            </div>
        </div>
    </section>
    <section class="advantage" id="advantage">
        <div class="container">
            <div class="advantage__list">
                <div class="list-item">
                    <img src="img/eye.svg" alt="icon" class="item-icon">
                    <span class="item-desc">Сможете смотреть телевизор и работать за компьютером уже через 3 часа после операции</span>
                </div>
                <div class="list-item">
                    <img src="img/heart.svg" alt="icon" class="item-icon">
                    <span class="item-desc">Без вреда и рисков: сделаем коррекцию, только если для вас она будет безопасна на 100% </span>
                </div>
                <div class="list-item">
                    <img src="img/wing.svg" alt="icon" class="item-icon">
                    <span class="item-desc">Мы одни из первых лазерных хирургов в Казахстане. Проводим коррекцию с 2007 года</span>
                </div>
                <div class="list-item">
                    <img src="img/5star.svg" alt="icon" class="item-icon">
                    <span class="item-desc">188 оценок на Яндекс. картах и 279 отзывов на Google картах</span>
                </div>
            </div>
            <div class="advantage__form">
                <div class="img-wrapper">
                    <img src="img/advantage-form.jpg" alt="img" class="form-img">
                </div>
                <h3 class="title">Получите консультацию <br> об операции и работе клиники</h3>
                <span class="subtitle">Если не хотите читать сайт и вам лучше поговорить <br> с живым человеком — оставьте контакты. <br> Мы перезвоним в течение 30 минут и с радостью <br> ответим на все ваши вопросы</span>
                <form action="./php/mail.php"
                      id="orderModal"
                      method="post"
                      accept-charset="utf-8"
                      enctype="multipart/form-data"
                      class="form-body">
                    <input type="text" class="input" name="phone" required placeholder="Телефон">
                    <input type="text" class="input" name="name" placeholder="Имя">
                    <button class="advantage-btn main-btn" type="submit">Получить консультацию</button>
                </form>
                <div class="contacts-title">Или свяжитесь удобным способом:</div>
                <div class="contacts-list">
                    <a href="tel:+77008367870" class="contacts-link">+7 (700) 836 78 70</a>
                    <a href="https://wa.me/+77008367870" class="contacts-link">WhatsApp</a>
                    <a href="#" class="contacts-link">Telegram</a>
                </div>
            </div>
        </div>
    </section>
    <section class="operation">
        <div class="container">
            <span class="section-title">Об операции</span>
            <h2 class="title">Поможем избавиться вам <br> от очков и линз без последствий <br> для здоровья глаз</h2>
            <span class="subtitle">Проводим коррекцию методами Lasik, Femto Lasik и ФРК. Если лазерная коррекция вам не подойдёт по возрасту или показаниям — предложим другие методики улучшения зрения.</span>
            <div class="operation__questions">
                <div class="questions-item">
                    <span class="item-title">Через сколько я восстановлюсь после лазерной коррекции?</span>
                    <span class="item-desc">Через 3 часа после операции вы сможете смотреть телевизор и сидеть в интернете. А на следующий день полностью вернётесь к работе.</span>
                </div>
                <div class="questions-item">
                    <span class="item-title">Может ли со временем пропасть эффект от лазерной коррекции?</span>
                    <span class="item-desc">Полностью эффект от коррекции никогда не пропадёт. <br><br> При большой близорукости в редких случаях возможен небольшой откат на 1-1.5 диоптрии в течение нескольких лет.</span>
                </div>
            </div>
            <div class="operation__video">
                <div class="video-desc">
                    <span class="desc-title">Это больно?</span>
                    <span class="desc-paragraph">Это совсем не больно. Перед операцией мы капаем обезболивающие капли, под которыми мы проводим даже более сложные хирургические операции. <br><br> Максимум, вам будет просто неприятно, что кто-то касается глаз на протяжении 10 секунд.</span>
                </div>
                <div class="video-slider">
                    <div class="swiper-wrapper">
                        <a href="#" class="swiper-slide">
                            <video width="100%" height="100%" loop muted poster="video/review1/review1.jpg" class="video-slide">
                                <source src="video/review1/review1.mp4" type="video/mp4">
                                <source src="video/review1/review1.webm" type="video/webm">
                                <source src="video/review1/review1.ogv" type="video/ogg">
                            </video>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>

