@import "color";

.main-btn {
  padding: 25px 40px 25px 40px;
  border-radius: 93.6px;
  background: $gradient-static;
  color: $main-text;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  transition: .2s linear;
  &:hover{
    transform: scale(1.04);
    box-shadow: 0 4.16px 41.6px 0 rgba(248, 140, 64, 0.2);
  }
}